.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightblue;
}

.btn-cont {
  display: flex;
  width: 15vw;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

button {
  background: lightgreen;
  color: #282c34;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: .2s;
}

button:hover {
  background: #282c34;
  color: lightgreen;
  transition: .2s;
}
