.form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #282c34;
  width: 35%;
  margin: auto;
  height: 40vh;
  background: lightgreen;
}

.submit-btn {
  color: lightgreen;
  text-decoration: none;
  background: #282c34;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: .2s;
}

.submit-btn:hover {
  color: #282c34;
  background: lightgreen;
  transition: .2s;
}