.App {
  text-align: center;
}


.char-cont {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-content: space-evenly;
}

/* 
.ep-cont {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-content: space-evenly;
} */

